<h2>Toys</h2>
  <% @toys.each do |toy| %>
 <p>Product:<%=toy.product %><br></p>
 Color:<%=toy.color %><br>
 Cost: <%=toy.cost %><br>
 Features:<%=toy.features %><br>
 Number in stock:<%=toy.quantity_in_stock %></p>

 <% end %>