<h1>Nina's New Toys</h1>

<%= form_tag '/toys', method: :post do %>

<div>
  <%= label_tag :product %>
  <%= text_field_tag :product %>
</div>

<div>
  <%= label_tag :cost %>
  <%= text_field_tag :cost %>
</div>

<div>
  <%= label_tag :features %>
  <%= text_field_tag :features %>
</div>

<div>
  <%= label_tag :quantity_in_stock %>
  <%= text_field_tag :quantity_in_stock %>
</div>

<div>
  <%= label_tag :image %>
  <%= text_field_tag :image %>
</div>


<%= submit_tag 'Add New Toy' %>
<% end %>