<h1>Your Order </h1>


<h3>Order Number: <%= @order.id %></h3>
<h3>Product ID: <%= @order.product_id %></h3>
<h3>Quantity: <%= @order.quantity %></h3>
<h3>Subtotal: <%= @order.subtotal %></h3>
<h3>Total: <%= @order.total %></h3>
<% image_tag @toys.images_preview_url %>